services:
  backend:
    build: 
      context: ./app/backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./app/backend/.env
    volumes:
      - ./app/backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./app/frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    env_file:
      - ./app/frontend/.env
    volumes:
      - ./app/frontend:/app
      - /app/node_modules
    depends_on:
      - backend

