@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-indigo-100 via-purple-100 to-teal-100 min-h-screen;
}

